---
layout: page
title: About
weight: 1
---

<div class="home">

  <p>The Harvard natural-language processing group is a collection of
    researchers and students (both graduate and undergraduate)
    interested in computational methods for human language. This
    broadly includes developments in machine learning methodology, the
    study of artificial intelligence, and the neuroscience of
    language. Recently we have been following recent advances in deep
    learning for natural language processing. </p>

  
  
  <p>Our group publishes <a href="papers">research</a>
    in natural-language processing and among other related areas.
    Recent focus areas of the group have been on character-based language modeling,
    deep learning for coreference resolution, and automatic summarization of
    sentences. We also release <a href="code">code</a> to the research
    community. </p>

  <p>
    If you are at Harvard and interested in NLP and ML, we suggest taking one of several
  courses we offer in the area (<a href="http://cs182.fas.harvard.edu">CS182</a>, CS187, <a href="http://cs287.fas.harvard.edu">CS287</a>). We also hold a
  weekly <a href="meetings">reading group</a> where we discuss new
  research in the field and invite local speakers.</p>

  
  <!-- <h1 class="page-heading">Posts</h1> -->

  <!-- <ul class="post-list"> -->
  <!--   {% for post in site.posts %} -->
  <!--     <li> -->
  <!--       <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> -->

  <!--       <h2> -->
  <!--         <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> -->
  <!--       </h2> -->
  <!--     </li> -->
  <!--   {% endfor %} -->
  <!-- </ul> -->

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>

<br> 

<h1> Members </h1> 

{% for group in site.data.members %}
<div class ="row" style="margin-top=20px">
<div class="col-md-7" >
<h3>{{group.group}}</h3>
</div>
</div>
<div class ="row">
{% for member in group.people %}


<div class="col-md-3"><div><a href="{{member.url}}">
<img class="img-thumbnail" src="{% if member.githubid  %}https://avatars2.githubusercontent.com/u/{{member.githubid}}?v=3&s=400{% else %}{{member.pic}}{% endif %}"></a></div>
<div style="margin-bottom:20px"><center><h4>{{member.name}}</h4></center></div> </div>

{% endfor %}
</div>
{% endfor %}
