---
layout: page
title: Publications
permalink: /papers/
weight: 4
show: 1
---


<table>
{% for paper in site.data.papers.papers %}


  <tr><td style="padding:10px">
{% if paper.image %}<img width="250px" src="{{paper.image}}"> {% endif %}
</td><td style="padding:10px">
<a class="paper" href="{{paper.pdf}}">
{{paper.title}}
</a><br>
{{paper.authors}}.<br>
{{paper.conference}} <br>

{% if paper.pdf %}<a class="icon pdf label label-info" href="{{paper.pdf}}">pdf</a> {% endif %}
{% if paper.slides %}<a class="icon slides label label-success" href="{{paper.slides}}">slides</a>{% endif %}
{% if paper.code %} <a class="icon slides label label-success label-warning" href="{{paper.code}}">code</a>{% endif %}
<br>

</td></tr>

{% endfor %}
</table>
