<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col">
        Copyright © 2024 The President and Fellows of Harvard College | <a href="https://accessibility.harvard.edu/">Accessibility</a> | <a href="https://accessibility.huit.harvard.edu/digital-accessibility-policy">Digital Accessibility</a> | <a href="https://www.harvard.edu/copyright-issue/">Report Copyright Infringement</a>
      </div>
    </div>

  </div>

</footer>
